<!DOCTYPE html>
<html>
  <head>
    <% include template/head.ejs %>
  </head>
  <body >

    <header>
      <% include template/header.ejs %>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <h1 class="feedback-form-title">Edit Quote</h1>
            <form action="/edit/<%= equote[0]._id %>" method="POST">
                <input type="text" placeholder="name" name="name" value="<%= equote[0].name %>">
                <input type="text" placeholder="quote" name="quote" value="<%= equote[0].quote %>">
                <button type="submit">Submit</button>
            </form>
            </div><!-- primary -->
</div>
    </div><!-- container -->
    <% include template/footer.ejs %>
</body>
</html>